<ion-header>
  <ion-toolbar color="secondary">
   
    <ion-title>My Listings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="main_content_div">
   

    <div class="card_div2" *ngFor="let item of data">
      <div class="tymbooker_image" 
        [style.backgroundImage]="'url(' +item.photoUrl+ ')'"></div>
   



      <div style="padding-left: 10px;">
        <ion-label class="tymbooker_name">{{item.title}}</ion-label>
        <ion-label class="date">{{item.description}}</ion-label>
        <ion-label class="date">{{item.price}}</ion-label>
      
      </div>
    </div>

  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="addNewListing()">
    <ion-fab-button color="secondary">
      <ion-icon name="add" mode="md"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
