.main_content_div{
    width: 100%;
    .div_form{
       
        padding-left: 20px;
        padding-right: 20px;

        .salon_pic{
            width: 100px;
            height : 100px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 100%;
            margin: auto;
        }

        .lbl_header{
            display: block;
            text-align: center;
            font-weight: 600;
            color: var(--ion-color-secondary);
            font-size: 18px;
            margin-bottom: 20px;
            margin-top: 20px;
        }

        ion-input{
            border-radius: 5px;
            background: #f3f3f3;
            height: 40px;
            --padding-start: 8px;
            margin-bottom: 15px;
        }

        ion-textarea{
            border-radius: 5px;
            background: #f3f3f3;
            margin-bottom: 15px;

        }

        ion-button{
            --background: var(--ion-color-secondary);
            font-weight: 600;
            color: white;
            --border-radius: 5px;
        }

        .flex_div{
            display: flex;
            width: 100%;
            margin-top: 10px;

            .f_div{
                display: flex;
                align-items: center;

                ion-label{
                    margin-left: 10px;
                }
            }
            
        }
    }

    .tymbookerThumb{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100% !important;
        height: 250px !important;  
        position: relative;
        .backBtn{
            position: absolute;
            top: 40px;
            left: 16px;
            width: 30px;
        }
        .detailsSection{
            position: absolute;
            bottom: 20px;
            left: 10px;
            .title{
                font-weight: bold;
                font-size: 1.2rem;
                color: white;
            }
            .subtitle{
                font-size: 1rem;
                color: white;
            }
            .ratting{
                color: white;
            }
            .rattingIcon{
                font-size: 1.2rem;
            }
            .description{
                font-size: 0.8rem;
                color: white;
            }

        }
    }

    ion-radio{
        --color-checked : var(--ion-color-secondary)
    }
}