<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button mode="md" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Add Listing</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">
    <div class="tymbookerThumb" [style.backgroundImage]="'url(' + downloadUrl + ')'">
    </div>
    <ion-button expand="block" (click)="openActionsheet()" fill="clear" size="small">
    
     Upload Image
    </ion-button>
    <div *ngIf="percentage | async as pct">
      Progress: {{ pct | number }}%
      <ion-progress-bar value="{{ pct / 100 }}"></ion-progress-bar>
    </div>
  
      <div class="div_form">
        <form [formGroup]="listing_form">    
          <ion-input type="text"  formControlName="title" placeholder="Title"></ion-input>
          <ion-textarea rows="6" formControlName="description"  placeholder="Description"></ion-textarea>
          <ion-input type="text"  formControlName="price" placeholder="Price"></ion-input>
          <ion-button (click)="onClickSave()"  expand="block">
            Save
          </ion-button>
      </form>
      </div>
  </div>
</ion-content>
