<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button mode="md" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">
    <div class="div_form">
      <form [formGroup]="editprofile_form">    
        <label>First Name</label><ion-input type="text"  formControlName="firstname" placeholder="First Name"></ion-input>
        <label>Last Name</label><ion-input type="text"  formControlName="lastname" placeholder="Last Name"></ion-input>
        <label>Phone Number</label><ion-input type="number"  formControlName="phone" placeholder="Phone Number"></ion-input>
        <ion-button (click)="onClickSave()"  expand="block">
          Update Profile
        </ion-button>
    </form>
    </div>
  </div>
</ion-content>
