<ion-header>
  <ion-toolbar color="secondary">
   
    <ion-title>Profile</ion-title>
    <ion-buttons slot="end">
      
      <ion-option><ion-button (click)="CreatePopover()" color="primary"> <ion-icon name="log-out-outline"></ion-icon></ion-button></ion-option>
      
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="main_content_div">

    <ion-list>
      <ion-item>
        <ion-label >Email:</ion-label><ion-label>{{user.email}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label >First Name:</ion-label><ion-label>{{data.firstname}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label >Last Name:</ion-label><ion-label>{{data.lastname}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label >Phone Number: </ion-label><ion-label>{{data.phone}}</ion-label>
      </ion-item>
    </ion-list>
    
    

  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="editProfilePage()">
    <ion-fab-button color="secondary">
      <ion-icon name="pencil-outline" mode="md"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
